<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szx.weightcontrol.dao.WMenuMapper">
	<resultMap id="BaseResultMap" type="cn.szx.weightcontrol.model.WMenu">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="parent_id" property="parentId" jdbcType="CHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="CHAR" />
		<result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
		<result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
		<result column="reserve3" property="reserve3" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, parent_id, url, text, sort, reserve1, reserve2, reserve3
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from w_menu
		where id = #{id,jdbcType=CHAR}
	</select>

	<!-- selectAllByParentId -->
	<select id="selectAllByParentId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from w_menu
		where parent_id = #{id,jdbcType=CHAR}
		order by sort asc
	</select>

	<!-- selectAllByParamsIsNull -->
	<select id="selectAllByParamsIsNull" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from w_menu
		where parent_id is null
		order by sort asc
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from w_menu
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="cn.szx.weightcontrol.model.WMenu">
		insert into w_menu (id, parent_id, url,
		text, sort, reserve1,
		reserve2, reserve3)
		values (#{id,jdbcType=CHAR}, #{parentId,jdbcType=CHAR}, #{url,jdbcType=VARCHAR},
		#{text,jdbcType=VARCHAR}, #{sort,jdbcType=CHAR}, #{reserve1,jdbcType=VARCHAR},
		#{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.szx.weightcontrol.model.WMenu">
		insert into w_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="text != null">
				text,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="reserve1 != null">
				reserve1,
			</if>
			<if test="reserve2 != null">
				reserve2,
			</if>
			<if test="reserve3 != null">
				reserve3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=CHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="text != null">
				#{text,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=CHAR},
			</if>
			<if test="reserve1 != null">
				#{reserve1,jdbcType=VARCHAR},
			</if>
			<if test="reserve2 != null">
				#{reserve2,jdbcType=VARCHAR},
			</if>
			<if test="reserve3 != null">
				#{reserve3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.szx.weightcontrol.model.WMenu">
		update w_menu
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=CHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="text != null">
				text = #{text,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=CHAR},
			</if>
			<if test="reserve1 != null">
				reserve1 = #{reserve1,jdbcType=VARCHAR},
			</if>
			<if test="reserve2 != null">
				reserve2 = #{reserve2,jdbcType=VARCHAR},
			</if>
			<if test="reserve3 != null">
				reserve3 = #{reserve3,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.szx.weightcontrol.model.WMenu">
		update w_menu
		set parent_id = #{parentId,jdbcType=CHAR},
		url = #{url,jdbcType=VARCHAR},
		text = #{text,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=CHAR},
		reserve1 = #{reserve1,jdbcType=VARCHAR},
		reserve2 = #{reserve2,jdbcType=VARCHAR},
		reserve3 = #{reserve3,jdbcType=VARCHAR}
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>