<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szx.weightcontrol.dao.WMoneyIncomeExpenditureMapper">
	<resultMap id="BaseResultMap" type="cn.szx.weightcontrol.model.WMoneyIncomeExpenditure">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="user_id" property="userId" jdbcType="CHAR" />
		<result column="income_expenditure_category" property="incomeExpenditureCategory" jdbcType="VARCHAR" />
		<result column="income_expenditure_subdivision" property="incomeExpenditureSubdivision" jdbcType="VARCHAR" />
		<result column="income_expenditure_amount" property="incomeExpenditureAmount" jdbcType="DOUBLE" />
		<result column="income_expenditure_datetime" property="incomeExpenditureDatetime" jdbcType="TIMESTAMP" />
		<result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
		<result column="modify_datetime" property="modifyDatetime" jdbcType="TIMESTAMP" />
		<result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
		<result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
		<result column="reserve3" property="reserve3" jdbcType="VARCHAR" />
		<result column="reserve4" property="reserve4" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, income_expenditure_category, income_expenditure_subdivision, income_expenditure_amount,
		income_expenditure_datetime, create_datetime, modify_datetime, reserve1, reserve2,
		reserve3, reserve4
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from w_money_income_expenditure
		where id = #{id,jdbcType=CHAR}
	</select>

	<!-- selectAllByUserId -->
	<select id="selectAllByUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from w_money_income_expenditure
		where user_id = #{userId,jdbcType=CHAR}
		<if test="incomeExpenditureDatetimeStart != null and incomeExpenditureDatetimeEnd != null">
			and income_expenditure_datetime between #{incomeExpenditureDatetimeStart,jdbcType=TIMESTAMP} and #{incomeExpenditureDatetimeEnd,jdbcType=TIMESTAMP}
		</if>
		order by income_expenditure_datetime asc
		limit #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
	</select>

	<!-- getTotalByUserId -->
	<select id="getTotalByUserId" resultType="long" parameterType="java.lang.String">
		select
		count(*)
		from w_money_income_expenditure
		where user_id = #{userId,jdbcType=CHAR}
	</select>

	<!-- selectIncomeExpenditureAmountSumByUserId -->
	<select id="selectIncomeExpenditureAmountSumByUserId" resultType="double" parameterType="java.util.Map">
		select
		coalesce(sum(income_expenditure_amount),0)
		from w_money_income_expenditure
		where user_id = #{userId,jdbcType=CHAR}
	</select>

	<!-- sumIncomeExpenditureAmountByPrimaryKeyArray -->
	<select id="sumIncomeExpenditureAmountByPrimaryKeyArray" resultType="double">
		select
		coalesce(sum(income_expenditure_amount),0)
		from w_money_income_expenditure
		where id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from w_money_income_expenditure
		where id = #{id,jdbcType=CHAR}
	</delete>

	<delete id="deleteByPrimaryKeyArray">
		delete from w_money_income_expenditure
		where id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<insert id="insert" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditure">
		insert into w_money_income_expenditure (id, user_id, income_expenditure_category,
		income_expenditure_subdivision, income_expenditure_amount,
		income_expenditure_datetime, create_datetime,
		modify_datetime, reserve1, reserve2,
		reserve3, reserve4)
		values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{incomeExpenditureCategory,jdbcType=VARCHAR},
		#{incomeExpenditureSubdivision,jdbcType=VARCHAR}, #{incomeExpenditureAmount,jdbcType=DOUBLE},
		#{incomeExpenditureDatetime,jdbcType=TIMESTAMP}, #{createDatetime,jdbcType=TIMESTAMP},
		#{modifyDatetime,jdbcType=TIMESTAMP}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR},
		#{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditure">
		insert into w_money_income_expenditure
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="incomeExpenditureCategory != null">
				income_expenditure_category,
			</if>
			<if test="incomeExpenditureSubdivision != null">
				income_expenditure_subdivision,
			</if>
			<if test="incomeExpenditureAmount != null">
				income_expenditure_amount,
			</if>
			<if test="incomeExpenditureDatetime != null">
				income_expenditure_datetime,
			</if>
			<if test="createDatetime != null">
				create_datetime,
			</if>
			<if test="modifyDatetime != null">
				modify_datetime,
			</if>
			<if test="reserve1 != null">
				reserve1,
			</if>
			<if test="reserve2 != null">
				reserve2,
			</if>
			<if test="reserve3 != null">
				reserve3,
			</if>
			<if test="reserve4 != null">
				reserve4,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=CHAR},
			</if>
			<if test="incomeExpenditureCategory != null">
				#{incomeExpenditureCategory,jdbcType=VARCHAR},
			</if>
			<if test="incomeExpenditureSubdivision != null">
				#{incomeExpenditureSubdivision,jdbcType=VARCHAR},
			</if>
			<if test="incomeExpenditureAmount != null">
				#{incomeExpenditureAmount,jdbcType=DOUBLE},
			</if>
			<if test="incomeExpenditureDatetime != null">
				#{incomeExpenditureDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createDatetime != null">
				#{createDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDatetime != null">
				#{modifyDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="reserve1 != null">
				#{reserve1,jdbcType=VARCHAR},
			</if>
			<if test="reserve2 != null">
				#{reserve2,jdbcType=VARCHAR},
			</if>
			<if test="reserve3 != null">
				#{reserve3,jdbcType=VARCHAR},
			</if>
			<if test="reserve4 != null">
				#{reserve4,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditure">
		update w_money_income_expenditure
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=CHAR},
			</if>
			<if test="incomeExpenditureCategory != null">
				income_expenditure_category = #{incomeExpenditureCategory,jdbcType=VARCHAR},
			</if>
			<if test="incomeExpenditureSubdivision != null">
				income_expenditure_subdivision = #{incomeExpenditureSubdivision,jdbcType=VARCHAR},
			</if>
			<if test="incomeExpenditureAmount != null">
				income_expenditure_amount = #{incomeExpenditureAmount,jdbcType=DOUBLE},
			</if>
			<if test="incomeExpenditureDatetime != null">
				income_expenditure_datetime = #{incomeExpenditureDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createDatetime != null">
				create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDatetime != null">
				modify_datetime = #{modifyDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="reserve1 != null">
				reserve1 = #{reserve1,jdbcType=VARCHAR},
			</if>
			<if test="reserve2 != null">
				reserve2 = #{reserve2,jdbcType=VARCHAR},
			</if>
			<if test="reserve3 != null">
				reserve3 = #{reserve3,jdbcType=VARCHAR},
			</if>
			<if test="reserve4 != null">
				reserve4 = #{reserve4,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditure">
		update w_money_income_expenditure
		set user_id = #{userId,jdbcType=CHAR},
		income_expenditure_category = #{incomeExpenditureCategory,jdbcType=VARCHAR},
		income_expenditure_subdivision = #{incomeExpenditureSubdivision,jdbcType=VARCHAR},
		income_expenditure_amount = #{incomeExpenditureAmount,jdbcType=DOUBLE},
		income_expenditure_datetime = #{incomeExpenditureDatetime,jdbcType=TIMESTAMP},
		create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
		modify_datetime = #{modifyDatetime,jdbcType=TIMESTAMP},
		reserve1 = #{reserve1,jdbcType=VARCHAR},
		reserve2 = #{reserve2,jdbcType=VARCHAR},
		reserve3 = #{reserve3,jdbcType=VARCHAR},
		reserve4 = #{reserve4,jdbcType=VARCHAR}
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>