<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szx.weightcontrol.dao.WMoneyIncomeExpenditureCategoryMapper">
	<resultMap id="BaseResultMap" type="cn.szx.weightcontrol.model.WMoneyIncomeExpenditureCategory">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="category_name" property="categoryName" jdbcType="VARCHAR" />
		<result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
		<result column="modify_datetime" property="modifyDatetime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, category_name, create_datetime, modify_datetime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from w_money_income_expenditure_category
		where id = #{id,jdbcType=CHAR}
	</select>

	<!-- selectAllCategorys -->
	<select id="selectAllCategorys" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from w_money_income_expenditure_category
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from w_money_income_expenditure_category
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditureCategory">
		insert into w_money_income_expenditure_category (id, category_name, create_datetime,
		modify_datetime)
		values (#{id,jdbcType=CHAR}, #{categoryName,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP},
		#{modifyDatetime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditureCategory">
		insert into w_money_income_expenditure_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="categoryName != null">
				category_name,
			</if>
			<if test="createDatetime != null">
				create_datetime,
			</if>
			<if test="modifyDatetime != null">
				modify_datetime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="categoryName != null">
				#{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="createDatetime != null">
				#{createDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDatetime != null">
				#{modifyDatetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditureCategory">
		update w_money_income_expenditure_category
		<set>
			<if test="categoryName != null">
				category_name = #{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="createDatetime != null">
				create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDatetime != null">
				modify_datetime = #{modifyDatetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.szx.weightcontrol.model.WMoneyIncomeExpenditureCategory">
		update w_money_income_expenditure_category
		set category_name = #{categoryName,jdbcType=VARCHAR},
		create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
		modify_datetime = #{modifyDatetime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>