<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szx.weightcontrol.dao.WProductAccessLoggerMapper" >
  <resultMap id="BaseResultMap" type="cn.szx.weightcontrol.model.WProductAccessLogger" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_status" property="productStatus" jdbcType="CHAR" />
    <result column="product_access_number" property="productAccessNumber" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="modify_datetime" property="modifyDatetime" jdbcType="TIMESTAMP" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve3" property="reserve3" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_real_name, product_name, product_status, product_access_number, 
    create_datetime, modify_datetime, reserve1, reserve3, reserve2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from w_product_access_logger
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from w_product_access_logger
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.szx.weightcontrol.model.WProductAccessLogger" >
    insert into w_product_access_logger (id, user_id, user_real_name, 
      product_name, product_status, product_access_number, 
      create_datetime, modify_datetime, reserve1, 
      reserve3, reserve2)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{userRealName,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{productStatus,jdbcType=CHAR}, #{productAccessNumber,jdbcType=INTEGER}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{modifyDatetime,jdbcType=TIMESTAMP}, #{reserve1,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.szx.weightcontrol.model.WProductAccessLogger" >
    insert into w_product_access_logger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userRealName != null" >
        user_real_name,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="productAccessNumber != null" >
        product_access_number,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="modifyDatetime != null" >
        modify_datetime,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve3 != null" >
        reserve3,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="userRealName != null" >
        #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=CHAR},
      </if>
      <if test="productAccessNumber != null" >
        #{productAccessNumber,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDatetime != null" >
        #{modifyDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.szx.weightcontrol.model.WProductAccessLogger" >
    update w_product_access_logger
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="userRealName != null" >
        user_real_name = #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=CHAR},
      </if>
      <if test="productAccessNumber != null" >
        product_access_number = #{productAccessNumber,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDatetime != null" >
        modify_datetime = #{modifyDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        reserve3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.szx.weightcontrol.model.WProductAccessLogger" >
    update w_product_access_logger
    set user_id = #{userId,jdbcType=CHAR},
      user_real_name = #{userRealName,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=CHAR},
      product_access_number = #{productAccessNumber,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      modify_datetime = #{modifyDatetime,jdbcType=TIMESTAMP},
      reserve1 = #{reserve1,jdbcType=VARCHAR},
      reserve3 = #{reserve3,jdbcType=VARCHAR},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>